<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.wcl.test.base.MainApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:label,android:icon">

        <meta-data
            android:name="TEST_APP_KEY"
            android:value="${test_app_key}" />

        <receiver
            android:name="com.wcl.test.helper.DialPhoneBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:host="2022360"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.wcl.test.main.MainActivity"
            android:exported="true"
            android:theme="@style/FirstActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wcl.test.widget.BaseWebViewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name="com.wcl.test.test.TestRecyclerViewRefreshActivity" />

        <activity android:name="com.wcl.test.test.TestFlexBoxActivity" />

        <activity android:name="com.wcl.test.test.TestTabLayoutActivity" />

        <activity android:name="com.wcl.test.test.TestViewPager2Activity" />

        <activity android:name="com.wcl.test.test.TestPullDownRefreshActivity" />

        <activity android:name="com.wcl.test.test.TestConsecutiveNestScrollActivity" />

        <activity android:name="com.wcl.test.test.TestGridViewWithHeaderActivity" />

        <activity android:name="com.wcl.test.test.TestSnapNestViewPagerActivity" />

        <provider
            android:name="com.wcl.test.CustomInitProvider"
            android:authorities="${applicationId}.backgroundLibrary"
            android:exported="false"
            android:multiprocess="true" />

        <provider
            android:name="com.wcl.test.CustomTorchFileProvider"
            android:authorities="com.wcl.test.custom.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_torch_file_paths" />
        </provider>

    </application>

</manifest>